/* src/pages/Contacto.css */
.contacto-container {
    padding: 40px 20px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
  }
  
  .contacto-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .contacto-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .contacto-header p {
    font-size: 1.2rem;
    color: #666;
  }
  
  .contacto-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contacto-info, .contacto-form, .contacto-mapa {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contacto-info h2, .contacto-form h2, .contacto-mapa h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .contacto-info p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .contacto-form .form-group {
    margin-bottom: 20px;
    
  }
  
  .contacto-form label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .contacto-form input, .contacto-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .contacto-form textarea {
    resize: vertical;
  }
  
  .submit-button {
    background-color: #e67e22;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #d35400;
  }
  
  .contacto-mapa iframe {
    border-radius: 10px;
  }
  
  /* Estilos responsive */
  @media (max-width: 768px) {
    .contacto-content {
      flex-direction: column;
    }
  
    .contacto-info, .contacto-form, .contacto-mapa {
      width: 100%;
    }
  }