/* src/pages/Home.css */
.home-container {
  padding: 20px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px; /* Reduce el espacio entre el logo y el texto */
  margin-bottom: 20px;
  margin-top: 50px;
}
.header-content {
  display: flex;
  align-items: center;
  gap: 5px; /* Reduce el espacio */
}


.logohome {
  width: 50px;
  height: 50px;
  margin-right: 0; /* Elimina el margen derecho */
}


.logohome {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.app-name {
  font-size: 24px;
  color: #e49a05; /* Color naranja */
  margin: 0;
}

.chart-container {
  margin: 20px auto;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.chart-wrapper {
  height: 300px; /* Altura fija para el gráfico */
  position: relative;
}

.time-range-selector {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.time-range-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.time-range-button.active {
  background-color: #FFA500 !important;
  color: white !important;
}

.crypto-selector {
  margin: 20px 0;
}

.crypto-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.crypto-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.crypto-button.active {
  background-color: #FFA500 !important;
  color: white !important;
}

.info-container {
  margin-top: 20px;
}